.count-box {
  @include flexBox(flex-start, center);

  margin-top: 80px;
  padding: 10px 20px;
  text-align: center;

  .count-box-wrapper {
    @include flexBox(center, center, row);

    width: 100%;
    height: 80%;

    span {
      color: $goldColor;
      font-size: 56px;
    }
  }

  span {
    font-weight: bold;
    font-size: 22px;
  }
}

@include media('md') {
  .count-box {
    margin: 0;

    .count-box-wrapper {
      span {
        font-size: 62px;
      }
    }

    span {
      font-size: 24px;
    }
  }
}

@include media('md') {
  .count-box {
    margin: 0;

    .count-box-wrapper {
      span {
        font-size: 72px;
      }
    }

    span {
      font-size: 28px;
    }
  }
}
