.down-screen-container {
  width: 100%;
  height: calc(100vh - calc(100vh - 100%));
  background: url('../assets/images/background/gradient.png') center no-repeat;
  background-size: cover;
  display: flex;
  position: fixed;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 100;

  .left-side-content {
    @include flexBox(center, center);

    width: 20%;

    .left-side-top-container {
      @include flexBox(flex-start, flex-end);

      width: 100%;
      height: 80%;
      padding-top: 60px;
      word-wrap: anywhere;
      overflow: hidden;
    }

    .left-side-bottom-container {
      @include flexBox(center, flex-end);

      width: 100%;
      height: 20%;
      overflow: hidden;
    }
  }
  .middle-side-content {
    @include flexBox(center, center);

    width: 100%;
    height: 100%;

    .middle-side-container {
      @include flexBox(center, flex-start);

      width: 100%;
      height: 100%;

      .middle-navigation-list {
        @include flexBox(center, flex-start);

        position: relative;
        z-index: 101;
      }
    }
  }
}
