.App-header {
    width: 100%;

    .header-container {
        @include flexCenter(space-between, center, row);

        padding: 20px 2vw;

        .header-title-container {
            @include flexCenter(center, center, row);

            text-align: center;
        }
    }
}
.text-header {
    color: white;
    font-size: 1rem;
}
.normal-text-header {
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
}

@media only screen and (max-width: 950px) {
    .App-header {
        .header-container {
            padding: 20px 4vw;
        }
    }
}