.layout-wrapper {
  .layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .layout-container {
      width: 100%;
      padding: 100px 10%;
      position: relative;
      word-break: break-word;
      grid-column: 1/13;

      h1 {
        margin: 0 0 46px 0;
        text-transform: uppercase;
        color: $sectionTextColor;
        letter-spacing: 10px;
      }
    }
  }
}

@include media('md') {
  .layout-wrapper {
    .layout {
      .layout-container {
        h1 {
          letter-spacing: 22px;
        }
      }
    }
  }
}
