.App {
  // background: url('../assets/images/background/gradient.png') center no-repeat;
  // background-size: cover;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
  z-index: 9999;
}