#Projects {
  position: relative;

  .layout {
    display: flex;
  }

  .projects-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;

    .slider-item {
      min-width: 150px;
      min-height: 200px;
      cursor: pointer;

      .slider-item-title {
        height: 20%;

        h6 {
          text-transform: uppercase;
          margin-top: 20px;
        }
      }

      .slider-item-image {
        width: 100%;
        height: 170px;
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        object-fit: cover;
        background-color: $sliderBackground;
        overflow: hidden;

        @include media('md') {
          height: 280px;
        }

        @include media('lg') {
          height: 320px;
        }

        img {
          width: 100%;
          height: 100%;
          object-position: center;
        }
      }
    }
  }
}

.slick-slider {
  .slick-list {
    .slick-track {
      display: flex;
      gap: 0 10px;
    }
  }
}
