.square-wrapper {
  position: absolute;
  display: block;
  bottom: 31%;
  right: 10%;
  z-index: 1;

  img {
    width: 238px;
    height: 238px;
    aspect-ratio: 1 / 1;
  }
}

@include media('md') {
  .square-wrapper {
    bottom: 30%;
    right: 5%;

    img {
      width: 438px;
      height: 438px;
    }
  }
}
