$mainColor: #ffffff;
$goldColor: #f7cc4c;
$black: black;

///////////////////////////////
$mineShaft: #313131;
$codGray: #191919;
$codGrayDark: #111111;
$saffronMango: #f7cc4c;
$mineShaftLight: #252525;
$codGrayJs: #151515;
$mineShaftLighter: #393939;
$sectionTextColor: #ffffff23;
$testimonialColor: #ffffff59;
$sliderBackground: #0d0d0dd7;

$breakpoints: (
  'sm': 420px,
  'md': 1024px,
  'lg': 1280px
) !default;
