@-webkit-keyframes closeMenu {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes closeMenu {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  25% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  50% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@-webkit-keyframes openMenu {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  50% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes openMenu {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  25% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  50% {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes animatedDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animatedDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes translatePosition {
  0% {
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes translatePosition {
  0% {
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes startScreenOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
}

@keyframes startScreenOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
}

@-webkit-keyframes homeTextAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes homeTextAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.App {
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.app-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.app-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 2vw;
}

.app-header .header-container .header-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 10;
}

.text-header {
  color: white;
  font-size: 1rem;
}

.normal-text-header {
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 950px) {
  .app-header .header-container {
    padding: 20px 4vw;
  }
}

.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2000;
  cursor: pointer;
}

.menu-button-container:active {
  opacity: 0.3;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-button-container button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-button-container button .menu-button-svg-icon {
  background-color: transparent;
  color: white;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media only screen and (max-width: 950px) {
  .menu-button-container {
    width: 30px;
    height: 30px;
  }
}

.down-screen-container {
  width: 100%;
  background: url("../assets/images/background/gradient.png") center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.down-screen-container .left-side-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
}

.down-screen-container .left-side-content .left-side-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 80%;
  padding-top: 60px;
  overflow: hidden;
}

.down-screen-container .left-side-content .left-side-bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.down-screen-container .middle-side-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.down-screen-container .middle-side-content .middle-side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.down-screen-container
  .middle-side-content
  .middle-side-container
  .middle-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  z-index: 101;
}

.container-with-border {
  height: 100vh;
  border-left: 0.5px solid rgba(255, 255, 255, 0.096);
}

.normal-text {
  margin: 10px;
  color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.animated-normal-text {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-animation: translatePosition 1s ease-in-out;
  animation: translatePosition 1s ease-in-out;
}

.navigation-item {
  margin: 10px 0;
  font-size: 5vw;
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navigation-item::before {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 1px;
  background-color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navigation-item:hover::before {
  width: 100%;
}

.navigation-item-active {
  color: white;
}

.overlay-filter-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.overlay-filter-image #filter-image {
  width: 100%;
  -webkit-filter: url(#noise);
  filter: url(#noise);
}

#menu-button-line {
  background-color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.start-screen-container {
  background: url("../assets/images/background/gradient.png") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  z-index: 99999;
}

.start-screen-container .start-component-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.start-screen-container .start-component-container h1 {
  font-size: 1.5rem;
  color: white;
  font-weight: 200;
}

.start-screen-container .start-component-container p {
  background-color: none;
  border: none;
  color: white;
  margin-top: 100px;
  font-weight: lighter;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.start-screen-container .start-component-container p:hover {
  opacity: 0.5;
  word-spacing: 80%;
}

.animated-dot {
  font-size: 1rem;
  -webkit-animation: animatedDot 1s ease-in-out infinite;
  animation: animatedDot 1s ease-in-out infinite;
}

.animated-opacity {
  opacity: 0;
  -webkit-animation: startScreenOpacity 1s ease-in-out;
  animation: startScreenOpacity 1s ease-in-out;
}

@media only screen and (max-width: 950px) {
  .start-screen-container .start-component-container h1 {
    font-size: 1rem;
  }
  .start-screen-container .start-component-container p {
    font-size: 0.8rem;
  }
}

.home-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.home-page-container .home-page-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-page-container .home-page-text-content .name-animation {
  opacity: 0;
  -webkit-animation: homeTextAnimation 4s ease-in-out;
  animation: homeTextAnimation 4s ease-in-out;
}

.home-page-container .home-page-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home-page-container .home-page-main-content .home-page-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  overflow: hidden;
}

.home-page-container .home-page-main-content .home-page-profile h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  letter-spacing: 5px;
}

.home-page-container .home-page-main-content .home-page-profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.home-page-container .home-page-main-content .home-page-profile-info p {
  font-weight: 300;
}

.home-page-container .home-page-image-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -200;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.home-page-container .home-page-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media only screen and (max-width: 1300px) {
  .home-page-container .home-page-main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .home-page-container .home-page-main-content .home-page-profile {
    width: 100%;
    height: 50%;
    padding: 20px 0;
    border: none;
    opacity: 0;
  }
  .home-page-container .home-page-main-content .home-page-profile h1 {
    font-size: larger;
  }
  .home-page-container .home-page-main-content .home-page-profile p {
    font-size: medium;
  }
  .home-page-container .home-page-image-container {
    width: 100%;
    height: 100%;
  }
  .home-page-container .home-page-image-container img {
    opacity: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
  }
}

.down-arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 1.4rem;
  right: 1.4rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.down-arrow-container:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=styles.css.map */
